ADMIN_EMAIL="admin@pokuroja.com"
ADMIN_PASSWORD="admin123"
CLOUDINARY_API_KEY="675516114524873"
CLOUDINARY_API_SECRET="sNNcF9GRgTZOyNAojtjNddjhr-w"
CLOUDINARY_CLOUD_NAME="dwnhtjsrw"
JWT_SECRET="d1f4a2b8c6e9f0a3d5c7b9e2f1a4c6d8e0f2a4b6c8d0e2f4a6b8c0d2e4f6a8"
MONGO_DB_NAME="pokurojahouses"
MONGO_URI="mongodb+srv://pokurojahouses:pokuroja123@cluster0.jiamdgm.mongodb.net/pokuroja?retryWrites=true&w=majority"
NODE_ENV="production"
PORT="10000"
